
  
html, body{
    height: 100%;
    min-height: 100%;
    color: white;
    position: center;
}

.navbar {
    background-color: transparent;
    font: 400 32px/1.8 "Lato", sans-serif;
    float: center;
    text-align: center;
    -webkit-text-stroke: 1.5px rgb(0, 0, 0);
}

.imgage {
    position: right;
}

h1 {
    text-align: center;
    color: rgb(236, 152, 152);
    -webkit-text-stroke: 1.5px rgb(0, 0, 0); 
    }

.header-2 {
        color: rgb(239, 179, 179);
        background-color: transparent;
        font-weight: bolder;
        letter-spacing: 20px;
        font: 400 32px/1.8 "Lato", sans-serif;
        float: center;
        text-align: center;
        -webkit-text-stroke: 1.5px rgb(0, 0, 0);
}
    
    
#question{
    background-color: transparent;
    padding-top: 115px;
    color: rgb(232, 209, 209);
    font-weight: bolder;
    letter-spacing: 1px;
    font: 400 59px/1.8 "Lato", sans-serif;
    text-align:center;
    background-color: transparent;
    -webkit-text-stroke: 2.6px rgb(0, 0, 0);
    
    
}

#choices{
    background-color: transparent;
    padding-top: 230px;
    color: rgb(241, 198, 198);
    -webkit-text-stroke: 1px rgb(0, 0, 0);
}
.choice{
    display: inline-block;
    width : 135px;
    text-align: center;
    border : 1px solid grey;
    border-radius: 30px;
    cursor: pointer;
    padding : 5px;
    background-color: black;
}
.choice:hover{
    color: rgb(239, 179, 179);
    background-color: rgb(227, 92, 92);
}


#scoreContainer{
    display: none;
    color: rgb(255, 255, 255);
    -webkit-text-stroke: .5px rgb(0, 0, 0);
    font: 400 28px/1.8 "Lato", sans-serif;
    text-align: left;
}

#scoreContainer p{
    background-color: transparent;
    padding-top: 80px;
    display: block;
    font-weight: bold;
    color: rgb(241, 201, 201);
    letter-spacing: 4px;
    -webkit-text-stroke: 1px rgb(0, 0, 0);
    font: 400 38px/1.8 "Lato", sans-serif;
    text-align: center;
}

.container-fluid {
    /* The image used */
    background-image: url("https://www.ft.com/__origami/service/image/v2/images/raw/http://prod-upp-image-read.ft.com/1645d9e8-63ba-11ea-abcc-910c5b38d9ed?source=next&fit=scale-down&quality=highest&width=1440");

    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    float: center;

}
.container-fluid2 {
    /* The image used */
    background: transparent;
    text-align: center;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    float: center;

}

#countdown {
    color: white;
    font-weight: bolder;
    letter-spacing: 10px;
    font: 400 30px/1.8 "Lato", sans-serif;
    float: center;
    text-align: center;
    -webkit-text-stroke: 1.5px rgb(0, 0, 0);
}














